.link-container {
    color: black;
    font-size: 30px;
    width:100%;
   margin: auto; 
}
.link-container {
    background-color:white;
    margin:px;
    padding: 5px; 
    text-align: center;

}
.center-div{
    display: flex;
    align-items: center; /*not doing anything*/
    justify-content: center;
}
.center-div a{
    margin-right: 20px;
}
.links a{
padding: 2%;
color: blue;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 10px 25px;
  line-height: 1.5;
  /* border: none;
  vertical-align: middle; */
}

.table thead tr th {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  font-size: 30px;
  color: black;
  text-align:center;
}

td {
  color: black;
  font-size: 30px;
  text-align:center;
  margin: auto;
} 

th{
    background-color:orange;
}